<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="persistence" />
	<context:component-scan base-package="persistence.impl" />
	<context:component-scan base-package="service.impl" />

	<!-- #### TRANSACTIONS ######################################### -->
	<aop:config>
		<aop:pointcut id="computerServiceOperation"
			expression="execution(* service.IComputerService.*(..))" />
		<aop:pointcut id="companyServiceOperation"
			expression="execution(* service.ICompanyService.*(..))" />
		<aop:advisor advice-ref="defaultAdvice" pointcut-ref="computerServiceOperation" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="companyServiceOperation" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<!-- all methods starting with 'get' are read-only -->
			<tx:method name="get*" read-only="true" />
			<tx:method name="delete*" isolation="DEFAULT"
				rollback-for="java.sql.SQLException;" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="defaultAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- #### HikariCP configuration ######################################### -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config.properties" />
	</bean>

	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="poolName" value="springHikariCP" />
		<property name="connectionTestQuery" value="SELECT 1" />
		<property name="driverClassName" value="${driverClassName}" />
		<property name="maximumPoolSize" value="${maximumPoolSize}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />

		<property name="dataSourceProperties">
			<props>
				<prop key="user">${dataSource.user}</prop>
				<prop key="password">${dataSource.password}</prop>
				<prop key="cachePrepStmts">${dataSource.cachePrepStmts}</prop>
				<prop key="prepStmtCacheSize">${dataSource.prepStmtCacheSize}</prop>
				<prop key="prepStmtCacheSqlLimit">${dataSource.prepStmtCacheSqlLimit}</prop>
			</props>
		</property>
	</bean>

	<!-- HIKARI Datasource (connection pool) -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"
		destroy-method="close">
		<constructor-arg ref="hikariConfig" />
	</bean>
</beans>