<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>ComputerDatabase</display-name>

	<!-- ################################## WELCOME PAGE ######################################## -->




	<!-- ################################## SPRING ######################################## -->

 	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
 
    <listener>
        <listener-class>
    		org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
	<!-- ################################## SERVLET ######################################## -->

	<servlet>
      <servlet-name>Controllers</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

	<!-- ################################## MAPPINGS ######################################## -->

   <servlet-mapping>
      <servlet-name>Controllers</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>
	
	<!-- ################################## ERROR PAGES ######################################## -->

	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/pages/403.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/pages/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/pages/500.jsp</location>
	</error-page>
	<error-page>
		<exception-type>persistence.exceptions.DaoException</exception-type>
		<location>/WEB-INF/pages/500.jsp</location>
	</error-page>

	<!-- ################################## DISABLE JAVA Scripts in JSP ######################################## -->

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<scripting-invalid>true</scripting-invalid>
		</jsp-property-group>
	</jsp-config>
 
</web-app>